body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    background-color:  #F8EDED;
}


.topcontainer {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 90px;
}



h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
 color: #66BFBF;

}
.so{
    width: 30%;
    margin: auto;
    line-height: 2;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}

.web {
    text-decoration: underline;
}
.comp{
    width: 20%;
    float: left;
    margin-right: 30px;
}
.chil{
    width:40%;
    float:right;
    margin-left: 30px;
    
}
.cloud1 {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.p{
    color: #EAF6F6;
    margin-top: 100px;
    font-size: .75rem;
}


.cloud2 {
    position: absolute;
    right: 300px;
    top: 50px;

}
.footer-link{
    color: #11999E;
  position: relative;
  top: 50px;
    text-decoration: solid;
    margin-left: 30px;
    

}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.bottom-container{
    background-color: #66BFBF;
    height: 200px;
    line-height: 2;
    color: #0c0d0d;
}
.profile{
    margin-top: 100px;
     
}
.middle-container{
   background-color: #F8EDED;
}

hr{
    border-style: dotted none none;
    background-color:white;
    border-color: grey;
    border-width: 5px;
    width: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   position: relative;
   top: 50px;
   
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact-me{
    margin-top: 100px;
    margin-bottom: 100px;
    
    
  }
  a:hover{
    color: #EAF6F6;
  }
  .bt {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 23px;
    background: #3498db;
    padding: 21px 17px 26px 14px;
    text-decoration: none;
    position: fixed;
    top: 650px;
    right:20px;
  }
  
  .bt:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #0c0d0d);
    background-image: -moz-linear-gradient(top, #30e3cb, #0c0d0d);
    background-image: -ms-linear-gradient(top, #30e3cb, #0c0d0d);
    background-image: -o-linear-gradient(top, #30e3cb, #0c0d0d);
    background-image: linear-gradient(to bottom, #30e3cb, #0c0d0d);
    text-decoration: none;
  }